body{
    font-family: 'Barlow', sans-serif; 
}

.about{
    text-align: center; margin-top:20px; margin-bottom: 50px;font-size: 20px;
}
.gallery-title {
    font-size: 36px;
    color: #0b58a0;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button {
    font-size: 14px;
    margin-top: -5px;
    margin-bottom: 20px;
}

.port-image {
    width: 100%;
}
.gallery_product {
    margin-bottom: 50px;
}
.box {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.footer {
    top: 15px;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
.about {
    color: #5e5e5e;
}
img.btn-whatsapp {
    display: block !important;
    position: fixed;
    z-index: 9999999;
    bottom: 59px;
    right: 15px;
    cursor: pointer;
    border-radius: 100px !important;
}
img.btn-whatsapp:hover {
    border-radius: 100px !important;
    -webkit-box-shadow: 0 0 15px 0 rgba(7, 94, 84, 1);
    -moz-box-shadow: 0 0 15px 0 rgba(7, 94, 84, 1);
    box-shadow: 0 0 15px 0 rgba(7, 94, 84, 1);
    transition-duration: 1s;
}
.gallery-title{
    margin-top: 55px;
    margin-bottom: 20px;
    color: #4e5559;
}
.introme { font-weight: 500; text-align: center;color: #4e5559;font-size: 25px;margin-bottom: -18px;}
.me {
    font-family: 'Barlow', sans-serif; 
    font-weight: 900;
    text-align: center;
    color: #4e5559;
    font-size: 40px;
    text-transform: uppercase;
    --x-offset: -0.0225em;
    --y-offset: 0.0225em;
    --stroke: 0.025em;
    --background-color: #fff;
    --stroke-color: rgb(255, 255, 255);
    text-shadow: var(--x-offset) var(--y-offset) 0 var(--background-color), calc(var(--x-offset) - var(--stroke)) calc(var(--y-offset) + var(--stroke)) 0 var(--stroke-color);
}
@supports (text-shadow: 1px 1px 1px 1px rgb(137, 133, 133)) {
    .me {
        text-shadow: var(--x-offset) var(--y-offset) 0 0 var(--background-color), var(--x-offset) var(--y-offset) var(--stroke) 0 var(--stroke-color);
    }
}

@media only screen and (max-width: 600px) {
    .me { font-size: 35px;}
    .introme { font-size: 22px;}
    .gallery-title{
        margin-top: 25px;
    }
    .about{
        font-size: 18px;
    }
}

.rounded {
    overflow: hidden;
    -webkit-border-radius: 180px;
    display: block;
    border: 4px solid #fff;
}
